<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
			<script src="/js/jquery.slim.min.js"></script>
			<script src="/js/bootstrap.js"></script>
			<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		</head>
	<body>
		<h1>Bem vindo a página inicial</h1>
	</body>
</html>