<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
			<%- include('../base/head.ejs') %>
		</head>
	<body>
		<div class="container">
			<h1><%= aNoticia[0].titulo %></h1>
			<div class="row">
				<p class="text-justify">
					<%= aNoticia[0].noticia %>
				</p>
			</div>
			<div class="text-center">
				<a href="lista" class="btn btn-primary">Voltar</a>
			</div>
		</div>
	</body>
</html>